/* Adicionar aqui toda a estilização criada para sua aplicação. */
* {
  margin: 0px;
}

body {
  font-family: Arial, sans-serif;
}

.header {
  background-color: #04091b;

}

.header .container {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid aqua 2px;
}

.titulo {
  color: #2ec4d6;
  font-size: 24px;
  margin: 50px;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 50px;
}

.navbar li {
  margin-left: 20px;
}

.navbar li a {
  color: #f2a950;
}

.navbar li.agora a {
  color: #ffffff;
  font-weight: bold;
}

.banner {
  background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.banner p {
  color: #ffffff;
  font-size: 32px;
}

.banner span {
  font-weight: bold;
}

.social {
  margin: 100px;
}

.boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.box {
  width: 30%;
  text-align: center;
}

.box img {
  width: 100px;

}

.box h4 {
  color: #e6007e;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2ec4d6;
  color: #ffffff;
  height: 150px;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.login {
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../assets/imgs/bg-jelly-fish-para-home.p');
}

.card h2 {
  color: #e6007e;
  text-align: center;
}

.formulario {
  display: flex;
  flex-direction: column;

}

.campo {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.campo span {
  color: #e6007e;
  font-weight: bold;

}

.login input {
  border: solid aqua 2px;
  border-radius: 10px;
  width: 100%;
  height: 35px;
  margin: 10px 0;
  box-sizing: border-box;
}

.login button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: #e6007e;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 200px;
}

.card {
  padding: 30px;
  background-color: whitesmoke;
  border-radius: 20px;
  width: 400px;
}